{% extends "base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/calculator.css' %}">
{% endblock link %}

{% block content %}
    
    <div id="calc">
        <div id="output"></div>
        <div id="clear"> 
                <span>C</span>
            </div>
        <div id="grid">
            <span>7</span> <span>8</span> <span>9</span> <span>/</span>
            <span>4</span> <span>5</span> <span>6</span> <span>*</span>
            <span>1</span> <span>2</span> <span>3</span> <span>-</span>
            <span>0</span> <span>.</span> <span>=</span> <span>+</span>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script src="{% static 'javascript/calculator.js' %}"></script>
{% endblock script %}