{% extends "base.html" %}
{% load static %}


{% block link %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock link %}

{% block content%}

    <h1 id="title">Dashboard</h1>

    <div id="card-storage">
        {% for app in appsInfo %}
            <a class="card" href="{% url app.label %}">
                <span>
                    <img src="{% static 'images/'|add:app.label|add:'.svg' %}" draggable="false">
                </span>
                <span>{{ app.name }}</span>
            </a>
        {% endfor %}
    </div>

{% endblock content%}
